<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>Извещение ПД-4</title>

    <style type="text/css">
        BODY		{FONT-FAMILY: sans-serif; FONT-SIZE: 8pt}
        TABLE		{FONT-FAMILY: sans-serif; FONT-SIZE: 8pt}
        .ramka		{BORDER-TOP: black 1px dotted; BORDER-BOTTOM: black 1px dotted;
            BORDER-LEFT: black 1px dotted; BORDER-RIGHT: black 1px dotted}
        .linev		{BORDER-LEFT: black 2px solid}
        .lineh		{BORDER-BOTTOM: black 2px solid}
        .linevh		{BORDER-BOTTOM: black 2px solid; BORDER-LEFT: black 2px solid}
        .t10b		{FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: "Times New Roman", serif}
        .h8b		{FONT-WEIGHT: bold; FONT-SIZE: 6.3pt; FONT-FAMILY: Arial, sans-serif;
            BORDER-BOTTOM: black 1px solid; TEXT-ALIGN: center}
        .h8b p { margin: 0 }
        .line_b		{BORDER-BOTTOM: black 1px solid; FONT-SIZE: 7pt; FONT-WEIGHT: bold}
        .line_t		{BORDER-TOP: black 1px solid; FONT-SIZE: 7pt; FONT-WEIGHT: bold}
        .line_r		{BORDER-RIGHT: black 1px solid; FONT-SIZE: 7pt; FONT-WEIGHT: bold}
        .line_l		{BORDER-LEFT: black 1px solid; FONT-SIZE: 7pt; FONT-WEIGHT: bold}
        .line_lbt	{BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid;
            BORDER-TOP: black 1px solid; FONT-WEIGHT: bold}
        .line_lbtr	{BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid;
            BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; FONT-WEIGHT: bold}
        .t6n		{FONT-SIZE: 6.5pt; FONT-FAMILY: "Times New Roman", serif}
        .t7n		{FONT-SIZE: 7.5pt; FONT-FAMILY: "Times New Roman", serif}
        .t8n		{FONT-SIZE: 8.5pt; FONT-FAMILY: "Times New Roman", serif}
        .spc		{FONT-SIZE: 1pt}


        .payform {
            width: 600px;
            font-size: 14px;
        }

        .payform input {
            width: 100%;
        }
        .payform td {
            padding:5px;
        }

        @media print
        {
            .no-print, .no-print *
            {
                display: none !important;
            }
        }

        a {
            color: #337ab7;
            text-decoration: none;
        }

        .btn-default {
            color: #333;
            background-color: #f0f0f0;
            border-color: #ccc;
        }
        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn.active, .btn:active {
            background-image: none;
            outline: 0;
            -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
            box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        }
    </style>
</head>
<body>

    <table align="center" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td>
            <table class="ramka" align="center" border="0" cellpadding="0"
                   cellspacing="0">
                <tbody><tr>
                    <td class="lineh" align="center" height="245" width="188">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody><tr><td class="t10b" align="center" height="100" valign="top">И з
                                    в е щ е н и е</td></tr>
                            <tr><td class="t10b" align="center" height="100" valign="bottom">Кассир</td></tr>
                            </tbody></table>
                    </td>
                    <td class="linevh" height="245" width="16">&nbsp;</td>
                    <td class="lineh" height="245">
                        <table style="height: 245px;" align="center" border="0"
                               cellpadding="0" cellspacing="0" width="477">
                            <tbody><tr>
                                <td height="40">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                           width="100%">
                                        <tbody><tr>
                                            <td>&nbsp;</td>
                                            <td class="t6n" align="right" valign="middle"><i>Форма № ПД-4</i></td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td class="h8b" align="center" valign="bottom"><p align="right">
                                        {{ receipt.extra('payee') }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        ОКАТО {{ receipt.extra('okato') }}</p></td>
                            </tr>
                            <tr>
                                <td class="t6n" align="center" height="10" valign="top">(наименование
                                    получателя платежа)</td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td valign="bottom" width="50%">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody><tr><!-- ИНН -->
                                                        {% for k,num in receipt.extra('inn')|split('') %}
                                                            <td class="line_lbt" align="center" height="10" width="4%">{{ num }}</td>
                                                        {% endfor %}
                                                            <td class="line_lbt" align="center" height="10" width="4%"></td>
                                                        {% for k,num in receipt.extra('kpp')|split('') %}
                                                            <td class="line_lbt{{ k==9?'r':'' }}" align="center" height="10" width="4%">{{ num }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                            <td valign="bottom" width="2%">&nbsp;</td>
                                            <td valign="bottom" width="48%">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody><tr><!-- Номер счета -->
                                                        {% for k,num in receipt.extra('account')|split('') %}
                                                            <td class="line_lbt{{ k==19?'r':'' }}" align="center" height="10" width="4%">{{ num }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="t6n" align="center" valign="top">(ИНН/КПП получателя платежа)</td>
                                            <td class="t6n" valign="top">&nbsp;</td>
                                            <td class="t6n" align="center" valign="top">(номер счета получателя
                                                платежа)</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="t8n" valign="bottom" width="10">в</td>
                                            <td class="h8b" align="center" valign="bottom">{{ receipt.extra('bank') }}</td>
                                            <td class="t8n" align="right" valign="bottom" width="40">БИК&nbsp;</td>
                                            <td valign="bottom" width="27%">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody><tr><!-- БИК -->
                                                        {% for k,num in receipt.extra('bik')|split('') %}
                                                            <td class="line_lbt{{ k==8?'r':'' }}" align="center" height="10" width="10%">{{ num }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="t6n" align="center" valign="top">(наименование банка
                                                получателя платежа)</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="t7n" valign="bottom">Номер&nbsp;кор./сч.&nbsp;банка&nbsp;получателя&nbsp;платежа</td>
                                            <td valign="bottom" width="60%">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody><tr><!-- Кор.сч. -->
                                                        {% for k,num in receipt.extra('correspondent_account')|split('') %}
                                                            <td class="line_lbt{{ k==19?'r':'' }}" align="center" height="10" width="5%">{{ num }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="h8b" valign="bottom" width="55%">{{ receipt.name }}</td>
                                            <td width="5%">&nbsp;</td>
                                            <td class="h8b" valign="bottom"></td>
                                        </tr>
                                        <tr>
                                            <td class="t6n" align="center" valign="top">(наименование платежа)</td>
                                            <td>&nbsp;</td>
                                            <td class="t6n" align="center" valign="top">(номер лицевого счета
                                                (код) плательщика)</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="t8n" valign="bottom" width="1%">Ф.И.О&nbsp;плательщика&nbsp;</td>
                                            <td class="h8b" valign="bottom">{{ receipt.payerName }}</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="t8n" valign="bottom" width="1%">Адрес&nbsp;плательщика&nbsp;</td>
                                            <td class="h8b" valign="bottom">{{ receipt.postCode }}, {{ receipt.postAddress }}</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="t8n" valign="bottom" width="1%">Сумма&nbsp;платежа&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="8%">{{ receipt.totalInteger }}</td>
                                            <td class="t8n" valign="bottom" width="1%">&nbsp;руб.&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="8%">{{ "%02d"|format(receipt.totalFractional) }}</td>
                                            <td class="t8n" valign="bottom" width="1%">&nbsp;коп.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сумма&nbsp;платы&nbsp;за&nbsp;услуги&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="8%">&nbsp;</td>
                                            <td class="t8n" valign="bottom" width="1%">&nbsp;руб.&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="8%">&nbsp;</td>
                                            <td class="t8n" valign="bottom" width="1%">&nbsp;коп.</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="t8n" valign="bottom" width="5%">Итого&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="8%">{{ receipt.totalInteger }}</td>
                                            <td class="t8n" valign="bottom" width="5%">&nbsp;руб.&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="8%">{{ "%02d"|format(receipt.totalFractional) }}</td>
                                            <td class="t8n" valign="bottom" width="5%">&nbsp;коп.&nbsp;</td>
                                            <td class="t8n" align="right" valign="bottom" width="20%">&nbsp;"&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="8%">&nbsp;</td>
                                            <td class="t8n" valign="bottom" width="1%">&nbsp;"&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="20%">&nbsp;&nbsp;&nbsp;</td>
                                            <td class="t8n" valign="bottom" width="4%">&nbsp;20&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="3%">&nbsp;</td>
                                            <td class="t8n" valign="bottom" width="1%">&nbsp;г.</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td class="t7n" style="text-align: justify;" valign="bottom">С
                                    условиями приема указанной в платежном документе суммы, в т.ч. с суммой
                                    взимаемой платы за&nbsp;услуги
                                    банка,&nbsp;ознакомлен&nbsp;и&nbsp;согласен.</td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="t6n" valign="bottom" width="50%">&nbsp;</td>
                                            <td class="t7n" valign="bottom" width="1%"><b>Подпись&nbsp;плательщика&nbsp;</b></td>
                                            <td class="h8b" valign="bottom" width="40%">&nbsp;</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr><td class="spc" height="1">&nbsp;</td></tr>
                            </tbody></table>
                    </td>
                    <td class="lineh" height="245" width="16">&nbsp;</td>
                </tr>
                <tr>
                    <td class="t10b" align="center" height="285" valign="bottom"
                        width="188">Квитанция<br><br>Кассир<br>&nbsp;</td>
                    <td class="linev" height="285" width="16">&nbsp;</td>
                    <td height="285" valign="top">
                        <table style="height: 285px;" align="center" border="0"
                               cellpadding="0" cellspacing="0" width="477">
                            <tbody><tr>
                                <td class="h8b" align="center" height="30" valign="bottom"><p
                                            align="right">{{ receipt.extra('payee') }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        ОКАТО {{ receipt.extra('okato') }}</p></td>
                            </tr>
                            <tr>
                                <td class="t6n" align="center" height="10" valign="top">(наименование
                                    получателя платежа)</td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td valign="bottom" width="50%">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody><tr><!-- ИНН -->
                                                        {% for k,num in receipt.extra('inn')|split('') %}
                                                            <td class="line_lbt" align="center" height="10" width="4%">{{ num }}</td>
                                                        {% endfor %}
                                                        <td class="line_lbt" align="center" height="10" width="4%"></td>
                                                        {% for k,num in receipt.extra('kpp')|split('') %}
                                                            <td class="line_lbt{{ k==9?'r':'' }}" align="center" height="10" width="4%">{{ num }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                            <td valign="bottom" width="2%">&nbsp;</td>
                                            <td valign="bottom" width="48%">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody><tr><!-- Номер счета -->
                                                        {% for k,num in receipt.extra('account')|split('') %}
                                                            <td class="line_lbt{{ k==19?'r':'' }}" align="center" height="10" width="5%">{{ num }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="t6n" align="center" valign="top">(ИНН/КПП получателя платежа)</td>
                                            <td class="t6n" valign="top">&nbsp;</td>
                                            <td class="t6n" align="center" valign="top">(номер счета получателя
                                                платежа)</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="t8n" valign="bottom" width="10">в</td>
                                            <td class="h8b" align="center" valign="bottom">{{ receipt.extra('bank') }}</td>
                                            <td class="t8n" align="right" valign="bottom" width="40">БИК&nbsp;</td>
                                            <td valign="bottom" width="27%">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody><tr><!-- БИК -->
                                                        {% for k,num in receipt.extra('bik')|split('') %}
                                                            <td class="line_lbt{{ k==8?'r':'' }}" align="center" height="10" width="10%">{{ num }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="t6n" align="center" valign="top">(наименование банка
                                                получателя платежа)</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="t7n" valign="bottom">Номер&nbsp;кор./сч.&nbsp;банка&nbsp;получателя&nbsp;платежа</td>
                                            <td valign="bottom" width="60%">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody><tr><!-- Кор.сч. -->
                                                        {% for k,num in receipt.extra('correspondent_account')|split('') %}
                                                            <td class="line_lbt{{ k==19?'r':'' }}" align="center" height="10" width="5%">{{ num }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="h8b" valign="bottom" width="55%">{{ receipt.name }}</td>
                                            <td width="5%">&nbsp;</td>
                                            <td class="h8b" valign="bottom"></td>
                                        </tr>
                                        <tr>
                                            <td class="t6n" align="center" valign="top">(наименование платежа)</td>
                                            <td>&nbsp;</td>
                                            <td class="t6n" align="center" valign="top">(номер лицевого счета
                                                (код) плательщика)</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="t8n" valign="bottom" width="1%">Ф.И.О&nbsp;плательщика&nbsp;</td>
                                            <td class="h8b" valign="bottom">{{ receipt.payerName }}</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="t8n" valign="bottom" width="1%">Адрес&nbsp;плательщика&nbsp;</td>
                                            <td class="h8b" valign="bottom">{{ receipt.postCode }}, {{ receipt.postAddress }}</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="t8n" valign="bottom" width="1%">Сумма&nbsp;платежа&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="8%">{{ receipt.totalInteger }}</td>
                                            <td class="t8n" valign="bottom" width="1%">&nbsp;руб.&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="8%">{{ "%02d"|format(receipt.totalFractional) }}</td>
                                            <td class="t8n" valign="bottom" width="1%">&nbsp;коп.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сумма&nbsp;платы&nbsp;за&nbsp;услуги&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="8%">&nbsp;</td>
                                            <td class="t8n" valign="bottom" width="1%">&nbsp;руб.&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="8%">&nbsp;</td>
                                            <td class="t8n" valign="bottom" width="1%">&nbsp;коп.</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="t8n" valign="bottom" width="5%">Итого&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="8%">{{ receipt.totalInteger }}</td>
                                            <td class="t8n" valign="bottom" width="5%">&nbsp;руб.&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="8%">{{ "%02d"|format(receipt.totalFractional) }}</td>
                                            <td class="t8n" valign="bottom" width="5%">&nbsp;коп.&nbsp;</td>
                                            <td class="t8n" align="right" valign="bottom" width="20%">&nbsp;"&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="8%">&nbsp;</td>
                                            <td class="t8n" valign="bottom" width="1%">&nbsp;"&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="20%">&nbsp;&nbsp;&nbsp;</td>
                                            <td class="t8n" valign="bottom" width="4%">&nbsp;20&nbsp;</td>
                                            <td class="h8b" valign="bottom" width="3%">&nbsp;</td>
                                            <td class="t8n" valign="bottom" width="1%">&nbsp;г.</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td class="t7n" style="text-align: justify;" valign="bottom">С
                                    условиями приема указанной в платежном документе суммы, в т.ч. с суммой
                                    взимаемой платы за&nbsp;услуги
                                    банка,&nbsp;ознакомлен&nbsp;и&nbsp;согласен.</td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td class="t6n" valign="bottom" width="50%">&nbsp;</td>
                                            <td class="t7n" valign="bottom" width="1%"><b>Подпись&nbsp;плательщика&nbsp;</b></td>
                                            <td class="h8b" valign="bottom" width="40%">&nbsp;</td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr><td class="spc" height="1">&nbsp;</td></tr>
                            </tbody></table>
                    </td>
                    <td width="16">&nbsp;</td>
                </tr>
                </tbody></table>
        </td></tr>
    <tr><td>
            &nbsp;<br>
        </td></tr></tbody></table>

    <table align="center" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td>
                {{ form_start(form, { attr:{class:'no-print'} }) }}
                <table class="payform" align="center" border="0" cellpadding="0"
                       cellspacing="0">
                    <tbody>
                    <tr>
                        <td width="30%">
                            {{ form_label(form.post_code) }}
                        </td>
                        <td>{{ form_widget(form.post_code) }}</td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_label(form.post_address) }}
                        </td>
                        <td>{{ form_widget(form.post_address) }}</td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_label(form.payer_name) }}
                        </td>
                        <td>{{ form_widget(form.payer_name) }}</td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            {{ form_widget(form.update, { attr: {class:'btn btn-default'} }) }}
                            &nbsp;&nbsp;
                            {{ form_widget(form.print, { attr: {class:'btn btn-default', onclick: 'window.print()'} }) }}
                            {% if receipt.returnUrl %}
                            &nbsp;&nbsp;
                            <a href="{{ receipt.returnUrl }}" class="btn btn-default">Вернуться на сайт</a>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody></table>
                {{ form_rest(form) }}
                {{ form_end(form) }}
        </td></tr></tbody>
</body>
</html>